/* latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local("Montserrat-Regular"), url(https://fonts.gstatic.com/s/montserrat/v6/zhcz-_WihjSQC0oHJ9TCYAzyDMXhdD8sAj6OAJTFsBI.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
/* latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local("Montserrat-Bold"), url(https://fonts.gstatic.com/s/montserrat/v6/IQHow_FEYlDC4Gzy_m8fcmaVI6zN22yiurzcBKxPjFE.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
.theme-magazine {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif; }

.btn-sm-corner {
  font-size: 10px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-radius: 30px;
  border: 1px solid #3e3f40;
  padding: 10px 20px 8px; }

.label-categories {
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
  display: inline-block;
  border-radius: 5px;
  padding: 2px 4px 1px;
  border: 1px solid #eee; }

.date-time {
  font-family: 'PT Serif Italic';
  font-style: italic;
  font-size: 13px;
  letter-spacing: 1px; }

.header-site {
  background-color: #222325;
  padding-top: 1.5vmin; }
  .header-site .navbar-inverse {
    background-color: #222325;
    border: none;
    margin: 0; }

.header-magazine {
  border-bottom: 1px solid #3e3f40;
  padding-bottom: 15px; }
  .header-magazine .btn-sm-corner {
    color: #b8c5c6;
    margin-top: 12px; }

.header-sub-menu .navbar-toggle {
  float: left;
  display: block;
  border-radius: 0;
  margin: 0;
  border: none; }
.header-sub-menu .navbar-brand {
  padding-left: 2.5rem !important;
  margin-left: 0 !important;
  padding-right: 2.5rem !important;
  border-right: 1px solid #3e3f40; }
.header-sub-menu .navbar-nav {
  float: none;
  text-align: center; }
  .header-sub-menu .navbar-nav > li {
    display: inline-block;
    float: none; }
    .header-sub-menu .navbar-nav > li > a {
      font-weight: bold;
      font-size: 12px;
      color: #fff;
      letter-spacing: 1px; }

.toggle-search-bar {
  position: absolute;
  top: 0;
  padding: 15px 2.5rem;
  right: 0;
  border-left: 1px solid #3e3f40; }
  .toggle-search-bar:hover {
    background-color: #333; }
  .toggle-search-bar > .fa {
    font-size: 16px;
    font-weight: bold;
    color: #fff; }

.site-name {
  font-weight: 700;
  font-size: 28px;
  display: inline-block;
  color: #fff; }
  @media screen and (min-width: 64em) {
    .site-name {
      font-size: 40px; } }
  .site-name:hover {
    color: #b8c5c6;
    text-decoration: none; }

.accouts-socials {
  padding-top: 10px; }
  .accouts-socials > a {
    display: inline-block;
    width: 32px;
    height: 32px;
    border: 1px solid #3e3f40;
    border-radius: 100%;
    margin-right: 5px;
    vertical-align: top; }
    .accouts-socials > a:hover {
      border-color: #a4a5a6; }
  .accouts-socials .fa {
    display: inline-block;
    color: #b8c5c6;
    vertical-align: -4px;
    font-size: 13px;
    font-weight: bold; }

.wrapper-sub-menu {
  position: relative; }

/* Section Hero
   ========================================================================== */
.hero-content {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  padding: 10rem 0;
  table-layout: fixed;
  display: table;
  min-height: 315px; }

.hero-inner {
  position: relative;
  text-align: center;
  display: table-cell;
  vertical-align: middle; }

.hero-section-content {
  max-width: 740px;
  margin: auto;
  color: #fff; }
  .hero-section-content .group-content-inline-block {
    font-size: 12px;
    font-weight: 100; }

.hero-title-section {
  font-size: 38px;
  font-weight: bold;
  margin-bottom: 1rem; }
  @media screen and (min-width: 64em) {
    .hero-title-section {
      font-size: 52px; } }

.group-content-inline-block {
  color: #b8c5c6; }
  .group-content-inline-block > * {
    display: inline-block;
    vertical-align: middle;
    margin: 0 10px;
    padding-top: 10px; }

.stats-content + .stats-content {
  margin-left: 10px; }

.stats-btn-shares {
  font-family: 'PT Serif Italic';
  text-transform: none;
  font-size: 13px;
  font-style: italic;
  color: #b8c5c6;
  border: 1px solid #b8c5c6; }
  .stats-btn-shares:hover {
    color: inherit; }
  .stats-btn-shares .fa {
    font-size: 16px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px; }

/*# sourceMappingURL=baikal.css.map */
