/* latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local("Montserrat-Regular"), url(https://fonts.gstatic.com/s/montserrat/v6/zhcz-_WihjSQC0oHJ9TCYAzyDMXhdD8sAj6OAJTFsBI.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
/* latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local("Montserrat-Bold"), url(https://fonts.gstatic.com/s/montserrat/v6/IQHow_FEYlDC4Gzy_m8fcmaVI6zN22yiurzcBKxPjFE.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
/* cyrillic-ext */
@font-face {
  font-family: 'PT Serif';
  font-style: normal;
  font-weight: 400;
  src: local("PT Serif"), local("PTSerif-Regular"), url(https://fonts.gstatic.com/s/ptserif/v8/5hX15RUpPERmeybVlLQEWBkAz4rYn47Zy2rvigWQf6w.woff2) format("woff2");
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F; }
/* cyrillic */
@font-face {
  font-family: 'PT Serif';
  font-style: normal;
  font-weight: 400;
  src: local("PT Serif"), local("PTSerif-Regular"), url(https://fonts.gstatic.com/s/ptserif/v8/fU0HAfLiPHGlZhZpY6M7dBkAz4rYn47Zy2rvigWQf6w.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116; }
/* latin-ext */
@font-face {
  font-family: 'PT Serif';
  font-style: normal;
  font-weight: 400;
  src: local("PT Serif"), local("PTSerif-Regular"), url(https://fonts.gstatic.com/s/ptserif/v8/CPRt--GVMETgA6YEaoGitxkAz4rYn47Zy2rvigWQf6w.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF; }
/* latin */
@font-face {
  font-family: 'PT Serif';
  font-style: normal;
  font-weight: 400;
  src: local("PT Serif"), local("PTSerif-Regular"), url(https://fonts.gstatic.com/s/ptserif/v8/I-OtoJZa3TeyH6D9oli3iXYhjbSpvc47ee6xR_80Hnw.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
/* cyrillic-ext */
@font-face {
  font-family: 'PT Serif';
  font-style: italic;
  font-weight: 400;
  src: local("PT Serif Italic"), local("PTSerif-Italic"), url(https://fonts.gstatic.com/s/ptserif/v8/O_WhD9hODL16N4KLHLX7xQsYbbCjybiHxArTLjt7FRU.woff2) format("woff2");
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F; }
/* cyrillic */
@font-face {
  font-family: 'PT Serif';
  font-style: italic;
  font-weight: 400;
  src: local("PT Serif Italic"), local("PTSerif-Italic"), url(https://fonts.gstatic.com/s/ptserif/v8/3Nwg9VzlwLXPq3fNKwVRMAsYbbCjybiHxArTLjt7FRU.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116; }
/* latin-ext */
@font-face {
  font-family: 'PT Serif';
  font-style: italic;
  font-weight: 400;
  src: local("PT Serif Italic"), local("PTSerif-Italic"), url(https://fonts.gstatic.com/s/ptserif/v8/b31S45a_TNgaBApZhTgE6AsYbbCjybiHxArTLjt7FRU.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF; }
/* latin */
@font-face {
  font-family: 'PT Serif';
  font-style: italic;
  font-weight: 400;
  src: local("PT Serif Italic"), local("PTSerif-Italic"), url(https://fonts.gstatic.com/s/ptserif/v8/03aPdn7fFF3H6ngCgAlQzAzyDMXhdD8sAj6OAJTFsBI.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
.theme-magazine {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif; }

.micro-section {
  font-size: 11px !important;
  color: #3b3d40;
  display: block;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin: 30px 0 20px; }

.btn-sm-corner {
  font-size: 10px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-radius: 30px;
  border: 1px solid #3e3f40;
  padding: 10px 20px 8px; }

.label-categories {
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
  display: inline-block;
  border-radius: 5px;
  padding: 2px 4px 1px;
  border: 1px solid #eee; }

.date-time {
  font-family: 'PT Serif Italic';
  font-style: italic;
  font-size: 13px;
  letter-spacing: 1px; }

.header-site {
  background-color: #222325;
  padding-top: 1.5vmin; }
  .header-site .navbar-inverse {
    background-color: #222325;
    border: none;
    margin: 0; }

.header-magazine {
  border-bottom: 1px solid #3e3f40;
  padding-bottom: 8px; }
  @media screen and (min-width: 64em) {
    .header-magazine {
      padding-bottom: 15px; } }
  .header-magazine .btn-sm-corner {
    color: #b8c5c6;
    margin-top: 12px; }

.header-sub-menu .navbar-toggle {
  float: left;
  display: block;
  border-radius: 0;
  margin: 0;
  border: none; }
.header-sub-menu .navbar-brand {
  padding-left: 2.5rem !important;
  margin-left: 0 !important;
  padding-right: 2.5rem !important;
  border-right: 1px solid #3e3f40; }
.header-sub-menu .navbar-nav {
  float: none;
  text-align: center; }
  .header-sub-menu .navbar-nav > li {
    display: inline-block;
    float: none; }
    .header-sub-menu .navbar-nav > li > a {
      font-weight: bold;
      font-size: 12px;
      color: #fff;
      letter-spacing: 1px; }

.toggle-search-bar {
  position: absolute;
  top: 0;
  padding: 15px 2.5rem;
  right: 0;
  border-left: 1px solid #3e3f40; }
  .toggle-search-bar:hover {
    background-color: #333; }
  .toggle-search-bar > .fa {
    font-size: 16px;
    font-weight: bold;
    color: #fff; }

.site-name {
  font-weight: 700;
  font-size: 28px;
  display: inline-block;
  color: #fff; }
  @media screen and (min-width: 64em) {
    .site-name {
      font-size: 40px; } }
  .site-name:hover {
    color: #b8c5c6;
    text-decoration: none; }

.accouts-socials {
  padding-top: 10px; }
  .accouts-socials > a {
    display: inline-block;
    width: 32px;
    height: 32px;
    border: 1px solid #3e3f40;
    border-radius: 100%;
    margin-right: 5px;
    vertical-align: top; }
    .accouts-socials > a:hover {
      border-color: #a4a5a6; }
  .accouts-socials .fa {
    display: inline-block;
    color: #b8c5c6;
    vertical-align: -4px;
    font-size: 13px;
    font-weight: bold; }

.wrapper-sub-menu {
  position: relative; }

/* Section Hero
   ========================================================================== */
.hero-content {
  background-color: #333;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  padding: 5rem 0;
  table-layout: fixed;
  display: table;
  min-height: 315px; }

.hero-inner {
  position: relative;
  text-align: center;
  display: table-cell;
  vertical-align: middle; }

.hero-section-content {
  max-width: 740px;
  margin: auto;
  color: #fff; }
  .hero-section-content .group-content-inline-block {
    font-size: 12px;
    font-weight: 100; }

.hero-title-section {
  font-size: 38px;
  font-weight: bold;
  margin-bottom: 1rem; }
  @media screen and (min-width: 64em) {
    .hero-title-section {
      font-size: 52px; } }

.group-content-inline-block {
  color: #b8c5c6; }
  .group-content-inline-block > * {
    display: inline-block;
    vertical-align: middle;
    margin: 0 10px;
    padding-top: 10px; }

.stats-content + .stats-content {
  margin-left: 10px; }

.stats-btn-shares {
  font-family: 'PT Serif Italic';
  text-transform: none;
  font-size: 13px;
  font-weight: 100;
  font-style: italic;
  color: #b8c5c6;
  border: 1px solid #b8c5c6; }
  .stats-btn-shares:hover {
    color: inherit; }
  .stats-btn-shares .fa {
    font-size: 16px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px; }

.wrapper-content-article {
  padding: 4rem 0;
  position: relative; }

.main-content-article {
  color: #666d70; }
  .main-content-article h3,
  .main-content-article h4,
  .main-content-article h5,
  .main-content-article h6 {
    font-size: 22px;
    font-weight: bold;
    color: #3b3d40;
    margin: 40px 0 20px; }
  .main-content-article p {
    font-family: 'PT Serif', serif;
    font-size: 18px; }
  @media screen and (min-width: 64em) {
    .main-content-article {
      padding-left: 400px;
      padding-right: 16%; } }

.caption-qoute p {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 22px;
  line-height: 35px; }

.author-card {
  text-align: center;
  border: 1px solid #eee;
  border-radius: 5px; }
  @media screen and (min-width: 64em) {
    .author-card {
      position: absolute;
      top: 4rem;
      left: 4rem; } }
  .author-card a {
    color: #838c8d; }

.info {
  display: block;
  padding: 30px 50px;
  border-bottom: 1px solid #eee; }

#name {
  display: block;
  padding-top: 20px; }
  #name span {
    font-size: 11px;
    font-weight: bold;
    color: #3b3d40;
    display: block; }

.author-details {
  font-family: 'PT Serif', serif;
  color: #838c8d;
  font-size: 11px; }

.author-social-media {
  display: table;
  width: 100%;
  margin: 0; }

.social-link {
  display: table-cell;
  vertical-align: middle;
  height: 40px;
  width: 33.33333%; }
  .social-link:hover {
    background-color: #3e3f40;
    color: #fff; }
  .social-link.middle-link {
    border-left: 1px solid #eee;
    border-right: 1px solid #eee; }

.more-post {
  font-size: 11px;
  text-align: center;
  border-top: 1px solid #eee;
  padding: 12px 0;
  display: block; }

/*# sourceMappingURL=baikal.css.map */
