/* Section Slider
========================================================================== */
.section-slider {
  max-width: 980px;
  margin: auto;
  padding:0 0 2rem 0;

  .swiper-button-prev, .swiper-button-next {
    top: auto;
    bottom: 60px;
  }
}

.swiper-container {
  width: 100%;
  max-height: 680px;
}

.swiper-slide {
  background-size: cover;
  background-position: 0 50%;
}

.slider-description {
  background-color: #fdfdfd;
  font-family: 'PT Serif', serif;
  width: 200px;
  border-radius: 4px;
  position: absolute;
  top: 40px;
  left: 40px;
  padding: 30px;

  h3 {
    font-family: 'PT Serif Italic';
    font-size: 16px;
    font-style: italic;
    color: #6c6c70;
    margin: 0;
  }

  p {
    font-size: 12px;
    color: #838d8f;
    padding-top: 20px;
  }

  .fa-close {
    font-size: 12px;
    position: absolute;
    top: 10px;
    right: 10px;
    opacity: .4;
  }
}

.swiper-button-prev,
.swiper-button-next {
  background-size: 100%;
  width: 72px;
  height: 72px;
}

.swiper-button-prev {
  background-image: url(../img/LeftArrow.png);
}

.swiper-button-next {
  background-image: url(../img/RightArrow.png);
}

// Footer
.footer-site {
  background-color: #27282a;
  padding: 5rem 20px;
}
