$color-border: #3e3f40;
$color-gray: #b8c5c6;
$color-dark: #3b3d40;
$body-color-content: #666d70;
$color-title-section: #3b3d40;

.theme-magazine {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.micro-section {
  font-size: 11px !important;
  color: $color-title-section;
  display: block;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin: 30px 0 20px;
}

// Button
.btn-sm-corner {
  font-size: 10px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-radius: 30px;
  border: 1px solid $color-border;
  padding: 10px 20px 8px;
}

.label-categories {
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
  display: inline-block;
  border-radius: 5px;
  padding: 2px 4px 1px;
  border: 1px solid #eee;
}

.date-time {
  font-family: 'PT Serif Italic';
  font-style: italic;
  font-size: 13px;
  letter-spacing: 1px;
}

.header-site {
  background-color: #222325;
  padding-top: 1.5vmin;

  .navbar-inverse {
    background-color: #222325;
    border: none;
    margin: 0;
  }
}

.header-magazine {
  border-bottom: 1px solid $color-border;
  padding-bottom: 8px;

  @media screen and (min-width: 64em) {
    padding-bottom: 15px;
  }

  .btn-sm-corner {
    color: $color-gray;
    margin-top: 12px;
  }
}

//  Override Bootstrap
.header-sub-menu {
  .navbar-toggle {
    float: left;
    display: block;
    border-radius: 0;
    margin: 0;
    border: none;
  }

  .navbar-brand {
    padding-left: 2.5rem !important;
    margin-left: 0 !important;
    padding-right: 2.5rem !important;
    border-right: 1px solid $color-border;
  }

  .navbar-nav {
    float: none;
    text-align: center;
    > li {
      display: inline-block;
      float: none;
      >a {
        font-weight: bold;
        font-size: 12px;
        color: #fff;
        letter-spacing: 1px;
      }
    }
  }
}

.toggle-search-bar {
  position: absolute;
  top: 0;
  padding: 15px 2.5rem;
  right: 0;
  border-left: 1px solid $color-border;

  &:hover {
    background-color: #333;
  }

  > .fa {
    font-size: 16px;
    font-weight: bold;
    color: #fff;
  }
}

.site-name {
  font-weight: 700;
  font-size: 28px;
  display: inline-block;
  color: #fff;

  @media screen and (min-width: 64em) {
    font-size: 40px;
  }

  &:hover {
    color: $color-gray;
    text-decoration: none;
  }
}

.accouts-socials {
  padding-top: 10px;

  > a {
    display: inline-block;
    width: 32px;
    height: 32px;
    border: 1px solid $color-border;
    border-radius: 100%;
    margin-right: 5px;
    vertical-align: top;

    &:hover {
      border-color: lighten($color-border, 40%);
    }
  }

  .fa {
    display: inline-block;
    color: $color-gray;
    vertical-align: -4px;
    font-size: 13px;
    font-weight: bold;
  }
}

.wrapper-sub-menu {
  position: relative;
}

/* Section Hero
========================================================================== */
.hero-content {
  background-color: #333;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  padding: 5rem 0;
  table-layout: fixed;
  display: table;
  min-height: 315px;
}

.hero-inner {
  position: relative;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}

.hero-section-content {
  max-width: 740px;
  margin: auto;
  color: #fff;

  .group-content-inline-block {
    font-size: 12px;
    font-weight: 100;
  }
}

.hero-title-section {
  font-size: 38px;
  font-weight: bold;
  margin-bottom: 1rem;

  @media screen and (min-width: 64em) {
    font-size: 52px;
  }
}

.group-content-inline-block {
  color: $color-gray;
  > * {
    display: inline-block;
    vertical-align: middle;
    margin: 0 10px;
    padding-top: 10px;
  }
}

.stats-content + .stats-content {
  margin-left: 10px;
}

.stats-btn-shares {
  font-family: 'PT Serif Italic';
  text-transform: none;
  font-size: 13px;
  font-weight: 100;
  font-style: italic;
  color: $color-gray;
  border: 1px solid $color-gray;

  &:hover {
    color: inherit;
  }

  .fa {
    font-size: 16px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
  }
}

.wrapper-content-article {
  padding: 4rem 0;
  position: relative;
}

.main-content-article {
  color: $body-color-content;

  // Type
  h3,
  h4,
  h5,
  h6 {
    font-size: 22px;
    font-weight: bold;
    color: $color-title-section;
    margin: 40px 0 20px;
  }

  p {
    font-family: 'PT Serif', serif;
    font-size: 18px;
  }

  blockquote {
    font-family: 'PT Serif', serif;
    font-size: 32px;
    line-height: 34px;
    color: $color-dark;
    margin: 5rem 0;
    border-left: 0;
    border-top: 1px solid $color-dark;
    border-bottom: 1px solid $color-dark;
    padding: 25px 0;
  }

  @media screen and (min-width: 64em) {
    padding-left: 400px;
    padding-right: 16%;
  }
}

.caption-qoute {
  p {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 22px;
    line-height: 35px;
  }
}

//  Avatar
.author-card {
  text-align: center;
  border: 1px solid #eee;
  border-radius: 5px;

  @media screen and (min-width: 64em) {
    position: absolute;
    top: 4rem;
    left: 4rem;
  }

  a {
    color: #838c8d;
  }
}
.info {
  display: block;
  padding: 30px 50px;
  border-bottom: 1px solid #eee;
}

#name {
  display: block;
  padding-top: 20px;

  span {
    font-size: 11px;
    font-weight: bold;
    color: $color-title-section;
    display: block;
  }
}

.author-details {
  font-family: 'PT Serif', serif;
  color: #838c8d;
  font-size: 11px;
}

.author-social-media {
  display: table;
  width: 100%;
  margin: 0;
}

.social-link {
  display: table-cell;
  vertical-align: middle;
  height: 40px;
  width: 33.33333%;

  &:hover {
    background-color: $color-border;
    color: #fff;
  }

  &.middle-link {
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
  }
}

.more-post {
  font-size: 11px;
  text-align: center;
  border-top: 1px solid #eee;
  padding: 12px 0;
  display: block;
}

.tags {
  margin: 5rem 0;

  .label-categories {
    color: #838d8f;
    display: inline-block;
    margin-right: 5px;
  }
}


.share-content {
  margin: 5rem 0;

  .btn-sm-corner {
    display: block;
    color: $color-dark;
    border-color: #ededed;
    vertical-align: middle;
    transition: 300ms;
    margin-bottom: 15px;

    @media screen and (min-width: 32em) {
      display: inline-block;
    }

    &.btn-facebook {
      background-color: #225b99;
      border-color: #225b99;
      color: #fff;
    }

    &.btn-twitter {
      background-color: #00adf2;
      border-color: #00adf2;
      color: #fff;
    }

    &:hover {
      opacity: .8;
    }
  }

  .btn-sm-corner + .btn-sm-corner {
    @media screen and (min-width: 32em) {
      margin-left: 15px;
    }
  }

  .fa {
    font-size: 14px;
    vertical-align: middle;
  }

  .fa-heart {
    color: #b8c6c7;
  }

  .counts {
    background-color: #b8c6c7;
    display: inline-block;
    border-radius: 8px;
    color: #fff;
    text-align: center;
    padding: 2px 8px 1px 8px;
    vertical-align: middle;
  }

  .node {
    display: inline-block;
    margin: 0 20px;
    vertical-align: middle;
  }
}


// Section Comments
.section-commnents {
  background-color: #f7f7f7;
  border-top: 1px solid lighten($color-gray, 15%);
  padding: 5rem 0;

  .header-comments {
    position: relative;
    text-align: center;
    margin: 45px 0;
  }

  .title {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
  }

  .new-comment {
    width: 42px;
    height: 42px;
    font-size: 20px;
    color: #838d8f;
    line-height: 42px;
    border: 1px solid lighten($color-gray, 15%);
    border-radius: 100%;
    text-align: center;
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -21px;

    &:hover {
      border-color: lighten($color-gray, 5%);
    }
  }
}

.wrapper-comment {
  max-width: 730px;
  border-top: 1px solid lighten($color-gray, 15%);
  margin: auto;
  margin-top: 4rem;
}
