textarea, input[type="text"],
input[type="button"],
input[type="submit"],
input[type="search"] {
  -webkit-appearance: none !important;
}
.search-data {
  width: 100%;
  font-size: 16px;
  padding: 10px 20px;
  box-shadow: none;
  border-radius: 3px;
  box-sizing: border-box !important;
  border: 1px solid #ccc;
  margin-bottom: 20px;
  -webkit-appearance: none !important;
  appearance: none !important;

}
