*,*::before,*:after { box-sizing: border-box; -moz-box-sizing: border-box; }
.hide {
  display: none;
}

body {
  font-family: $font-family;
  font-size: $font-size-content;
  color: $font-color-content;
  font-weight: 300;
  overflow-x: hidden;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

h1 {
  font-size: 2.5rem;
  letter-spacing: 3px;
  font-weight: 300;
  text-transform: uppercase;

  @include media(desktop) {
    line-height: 64px;
    font-size: $font-size-title;
  }
}

a,
a:hover {
  text-decoration: none;
  color: $font-color-body;
}

p {
  font-size: 1.125em;
  line-height: 1.7;
}

.main {
  margin: auto;
  padding: 1rem;
  max-width: $rwd-size-desktop;
  @include media(largescreen) {
    max-width: $rwd-size;
  }
}

header {
  @include media(desktop) {
    padding: 5rem 0;
  }

  p {
    margin: 1rem auto;
    @include media(largescreen) {
      max-width: 950px;
      text-align: left;
      margin: 1rem 0;
    }
  }
}

.title,
[class*="title"] {
  font-family: $font-face;
  color: $font-color-body;
  margin-top: 0;
  letter-spacing: 6px;
  font-weight: 300;
  text-transform: uppercase;
}

.cover-project {
  background-color: $font-color-body;
  background-image: url('../img/cover.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-bottom: 3rem;
  padding: 5rem 0;
  text-align: center;

  @include media(desktop) {
    padding: 10rem 0;
    margin-bottom: 6rem;
  }

  .project {
    display: inline-block;
    background-color: $action;
    padding: 2rem 2rem;
    margin: 0;
    color: #fff;
  }

  .title {
    font-size: 38px;
    color: #fff;
    margin: 0;
  }

  p {
    color: #fff;
    margin: 0;
  }
}

.mywork {
  padding-left: 1rem;
  border-left: 5px solid $action;
  > a {
    color: $action;
    text-decoration: underline;

    &:hover {
      color: $dark;
    }
  }
}

// ------------------------------------------------------------- customers
.trusted {
  @include media(largescreen) {
    padding-top: 3rem;
  }

  .heading {
    padding-bottom: 5rem;
    @include media(desktop) {
      max-width: 915px;
    }
  }

  .title {
    font-size: 2rem;
    @include media(desktop) {
      font-size: 38px;
    }
  }

  p {
    max-width: 600px;
  }
}

.customers {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  max-width: $rwd-size-desktop;
  padding: 1rem;
  margin-right: auto;
  margin-left: auto;

  @include media(largescreen) {
    max-width: $rwd-size;
  }

  .customer-logo {
    -webkit-flex: 0 0 40%;
    -ms-flex: 0 0 40%;
    flex: 0 0 40%;
    margin-bottom: 40px;

    @include media(desktop) {
      transition: opacity .5s cubic-bezier(.694,.0482,.335,1);
      -webkit-flex-basis: 21%;
      -ms-flex-preferred-size: 21%;
      flex-basis: 21%;
      margin-bottom: 80px;
    }
  }

}

.logo-image {
  display: block;
  max-width: 80px;
  margin: auto;

  &.fix-logo {
    max-width: 72px;
  }

  @include media(desktop) {
    max-width: 150px;
    margin: 0;
  }

  @include media(largescreen) {
    margin: auto;
  }
}

// ------------------------------------------------------------- Section Project
.project {
  margin: 0 -2.5%;
  overflow: hidden;
}

.item-project {
  padding: 0 2.5% 2.5%;
  width: 50%;
  float: left;

  > a {
    display: block;
    position: relative;
  }

  .title {
    font-size: $font-size-content;
    margin-bottom: 0;
  }

  .explanation {
    padding-top: 10px;
    font-size: $font-size-content - 2;
  }

  p {
    margin: 0;
  }
}

.info-contain {
  position: absolute;
  top: 0;
  left: 0;
  padding: 1em;
  width: 100%;
  transition: opacity .3s ease;
  opacity: 0;
  text-transform: uppercase;
}

.client {
  font-size: 80%;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: $action;
}

a:hover .info-contain {
  opacity: 1;
}

.project-info {
  background-color: #fff;
  width: 100%;
  padding: 1em 1em .5em 1em;

  h3 {
    font-size: $font-size-title;
    line-height: 40px;
    margin: .4em 0;
  }
}

// -----------------------------------------------------------  Section personal
.personal {
  background-color: $bg-gray;
  max-width: 100%;
  margin: auto;
  margin-top: 5rem;
  padding: 1rem;

  @include media(largescreen) {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    overflow: hidden;
    padding: 0;
  }

  .personal-images {
    @include media(largescreen) {
      background-image: url('../img/pic-info.png');
      background-size: cover;
      padding: 15%;
      -webkit-flex-basis: 50%;
      -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
      margin-right: -16%;
    }
  }

  .info {
    padding: 1rem;
    max-width: 915px;
    margin: auto;

    @include media(largescreen) {
      -webkit-flex-basis: 40%;
      -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
      text-align: left;
      padding: 0;
      position: relative;
      left: 3%;
    }

    @include media(extrascreen) {
      left: 18%;
    }
  }

  .title {
    font-size: 2rem;

    @include media(largescreen) {
      font-size: $font-size-title;
      line-height: 64px;
    }
  }
}

.contact {
  background: $action;
  color: #fff;
  text-transform: uppercase;
  padding: 1rem 2rem;
  margin-top: 1rem;
  display: inline-block;
  letter-spacing: 3px;

  &:hover {
    background-color: $dark;
    color: #fff;
  }
}

// -------------------------------------------------------------  Section Footer
footer {
  padding: 5rem 0;

  .title {
    font-weight: 300;
  }
}

.footer-nav-link {
  display: block;
}
