*,*::before,*:after { box-sizing: border-box; -moz-box-sizing: border-box; }
.hide {
  display: none;
}

@font-face {
  font-family: 'Anton';
  font-style: normal;
  font-weight: 400;
  src: local('Anton'), url(https://fonts.gstatic.com/s/anton/v7/8NU_-DMruT2VEumfuawh8YDGDUGfDkXyfkzVDelzfFk.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: 'Anton';
  font-style: normal;
  font-weight: 400;
  src: local('Anton'), url(https://fonts.gstatic.com/s/anton/v7/TS7BJzhU7AKgPn9R0AejYKCWcynf_cDxXwCLxiixG1c.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

body {
  font-family: $font-family;
  font-size: $font-size-content;
  color: $font-color-content;
  font-weight: 300;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

h1 {
  font-size: $font-size-title;
  line-height: 64px;
  letter-spacing: 3px;
  font-weight: 300;
  text-transform: uppercase;
}

a,
a:hover {
  text-decoration: none;
  color: $font-color-body;
}

p {
  font-size: 1.125em;
  line-height: 1.7;
}

.main {
  max-width: 1284px;
  margin: auto;
}

header {
  padding: 5rem 0;
  p {
    max-width: 940px;
    margin-bottom: 0;
  }
}

.title,
[class*="title"] {
  font-family: $font-face;
  color: $font-color-body;
  margin-top: 0;
  letter-spacing: 6px;
  font-weight: 300;
  text-transform: uppercase;
}

.cover-project {
  background-color: $font-color-body;
  padding: 10rem 0;
  background-image: url('../img/cover.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-bottom: 6rem;

  .main {
    position: relative;
  }

  .project {
    display: inline-block;
    background-color: $action;
    padding: 2rem 2rem;
    margin: 0;
    color: #fff;
  }

  .title {
    font-size: 38px;
    color: #fff;
    margin: 0;
  }

  p {
    color: #fff;
    margin: 0;
  }
}

// ------------------------------------------------------------- customers
.trusted {
  padding-top: 3rem;
  .heading {
    padding-bottom: 5rem;
  }

  .title {
    font-size: 38px;
  }
}

.customers {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  max-width: 80%;
  margin-right: auto;
  margin-left: auto;

  @include media(desktop) {
    max-width: 1284px;
  }

  .customer-logo {
    -webkit-flex: 0 0 40%;
    -ms-flex: 0 0 40%;
    flex: 0 0 40%;
    margin-bottom: 40px;

    @include media(desktop) {
      transition: opacity .5s cubic-bezier(.694,.0482,.335,1);
      -webkit-flex-basis: 21%;
      -ms-flex-preferred-size: 21%;
      flex-basis: 21%;
      margin-bottom: 80px;
    }
  }

  .logo-image {
    display: block;
    max-width: 150px;
  }
}

// ------------------------------------------------------------- Section Project
.project {
  margin: 0 -2.5%;
  overflow: hidden;
}

.item-project {
  padding: 0 2.5% 2.5%;
  width: 50%;
  float: left;

  > a {
    display: block;
    position: relative;
  }

  .title {
    font-size: $font-size-content;
    margin-bottom: 0;
  }

  .explanation {
    padding-top: 10px;
    font-size: $font-size-content - 2;
  }

  p {
    margin: 0;
  }
}

.info-contain {
  position: absolute;
  top: 0;
  left: 0;
  padding: 1em;
  width: 100%;
  transition: opacity .3s ease;
  opacity: 0;
  text-transform: uppercase;
}

.client {
  font-size: 80%;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: $action;
}

a:hover .info-contain {
  opacity: 1;
}

.project-info {
  background-color: #fff;
  width: 100%;
  padding: 1em 1em .5em 1em;

  h3 {
    font-size: $font-size-title;
    line-height: 40px;
    margin: .4em 0;
  }
}

// -----------------------------------------------------------  Section personal
.personal {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: $bg-gray;
  max-width: 2268px;
  margin: auto;
  overflow: hidden;
  margin-top: 5rem;
  margin-bottom: 5rem;
  min-height: 640px;

  .personal-images {
    -webkit-flex-basis: 50%;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    margin-right: -16%;
  }

  .info {
    -webkit-flex-basis: 25%;
    -ms-flex-preferred-size: 25%;
    flex-basis: 40%;
  }

  .title {
    font-size: $font-size-title;
    line-height: 64px;
  }
}

.contact {
  background: $action;
  color: #fff;
  text-transform: uppercase;
  padding: 1rem 2rem;
  margin-top: 1rem;
  display: inline-block;

  &:hover {
    background-color: $dark;
    color: #fff;
  }
}

// -------------------------------------------------------------  Section Footer
footer {
  padding: 5rem 0;

  .title {
    font-weight: 300;
  }
}

.footer-nav-link {
  display: block;
}
