*,*::before,*:after { box-sizing: border-box; -moz-box-sizing: border-box; }
body {
  font-family: $font-family;
  font-size: $font-size-content;
  color: $font-color-content;
  font-weight: 300;
  padding: 20px;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

a,
a:hover {
  text-decoration: none;
  color: $font-color-body;
}

.main {
  max-width: 1810px;
  margin: auto;
}

header {
  padding: 5rem 0;
  p {
    max-width: 940px;
  }
}

.title,
[class*="title"] {
  font-family: $font-face;
  color: $font-color-body;
  margin-top: 0;
}

// ------------------------------------------------------------- Section Project
.project {
  margin: 0 -2.5%;
  overflow: hidden;
}

.item-project {
  padding: 0 2.5% 2.5%;
  width: 50%;
  float: left;

  .title {
    font-size: $font-size-content;
    margin-bottom: 0;
  }

  .explanation {
    padding-top: 10px;
    font-size: $font-size-content - 2;
  }

  p {
    margin: 0;
  }
}

// -----------------------------------------------------------  Section personal
.personal {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: $bg-gray;
  max-width: 100%;
  margin: auto;
  overflow: hidden;
  margin-top: 5rem;
  margin-bottom: 5rem;

  .personal-images {
    -webkit-flex-basis: 50%;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    margin-right: -16%;
  }

  .info {
    margin-left: 10%;
    margin-right: 5%;
    -webkit-flex-basis: 25%;
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%
  }

  .title {
    font-size: $font-size-title;
    letter-spacing: 2px;
  }
}

// -------------------------------------------------------------  Section Footer
footer {
  padding: 5rem 0;

  .title {
    font-weight: 300;
  }
}

.footer-nav-link {
  display: block;
}
