.table-list-content {
  tr,td {
    width: 100%;
  }
}

.data-project-list {
  box-sizing: border-box;
  background: #fff;
  border-radius: 3px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 62px;
  padding: 15px;
  margin: 0 -15px;

  &:hover {
    background-color: #f2f2f2;
  }

  h3 {
    font-size: 20px;
    font-weight: bold;
    letter-spacing: .2px;
    line-height: 24px;
    margin-bottom: 0;
  }

  p {
    font-size: 1rem;
    color: #999;
    margin: 0 0 5px 0;
  }

  a {
    color: #333;
    &:hover {
      color: #f96277;
    }
  }
}

.data-project-thumbnail {
  border-radius: 3px;
  width: 60px;
  height: 90px;
  margin-right: 20px;

  > img {
    border-radius: 3px;
  }
}

.project-tags {
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  color: #f96277;
}
