$mobile:      480px;
$tablet:      768px;
$laptop:      992px;
$desktop:     1200px;
$largescreen: 1600px;

@mixin media ($media) {
  @if $media == mobile {
    @media only screen and (min-width: $mobile) { @content; }
  }
  @if $media == tablet {
    @media only screen and (min-width: $tablet) { @content; }
  }
  @else if $media == laptop {
    @media only screen and (min-width: $laptop) { @content; }
  }
  @else if $media == desktop {
    @media only screen and (min-width: $desktop) { @content; }
  }
  @else if $media == largescreen {
    @media only screen and (min-width: $largescreen) { @content; }
  }
}
