$font-color-body:    #212121;
$font-color-content: #545959;

$font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
$font-face:   'Helvetica Neue',Helvetica,Arial,sans-serif;

$font-size-title:   56px;
$font-size-content: 18px;

$bg-gray: #fafafa;
