$font-color-body:    #222;
$font-color-content: #555;

$font-family: 'Open Sans', Helvetica Neue,Helvetica,Arial,sans-serif;
$font-face:   'Noto Sans', sans-serif;

$font-size-title:   56px;
$font-size-content: 18px;

$bg-gray: #fafafa;
