$font-color-body:    #333;
$font-color-content: #888;

$font-family: 'Open Sans', Helvetica Neue,Helvetica,Arial,sans-serif;
$font-face:   'Noto Sans', sans-serif;

$font-size-title:   32px;
$font-size-content: 18px;

$bg-gray: #fafafa;
