*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  background-color: #fff;
  font-family: $body-font-face;
  font-size: $font-size-base;
  height: 100vh;
  text-align: center;
  padding-top: 15vh;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

figure {
  margin: 0;
}

.logo {
  display: inline-block;
  margin-top: 25px;
  > img {
    height: 80px;
  }
}

.wrap {
  max-width: 1040px;
  margin: auto;
}

.card-header {
  margin-bottom: 40px;
}

.card-item {
  width: 46%;
  min-height: 800px;
  display: inline-block;
  box-shadow: 0 5px 13px 0 rgba($bg-theme-dark, .5);
  margin: 0 10px;
  vertical-align: top;
}

.theme-item-type-a {
  background-color: $theme-item-type-a;
}

.theme-item-type-b {
  background-color: $theme-item-type-b;
}

.card-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-left: 20px;
  text-align: left;

  img {
    max-width: 220px;
  }
}

.button-buy {
  @include button-variant(#fff, transparent, $color-orange);
}
