$body-color-content: #666d70;
$color-title-section: #3b3d40;

$bg-theme-dark: #323232;

$theme-item-type-a: #323232;
$theme-item-type-b: #FFBA00;

$color-border: #3e3f40;
$color-gray: #b8c5c6;
$color-dark: #3b3d40;
$color-orange: #ffba00;
$color-white: #fff;

$body-font-face: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
// Fonts Size
$font-size-micro:      12px;
$font-size-small:      14px;
$font-size-base:       16px;
$font-size-medium:     18px;
$font-size-large:      28px;
$font-size-larger:     38px;
